/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2018, 9:29:00 AM
    Author     : acer
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 22, 2018, 11:35:25 AM
    Author     : acer
*/

 #outer{
                height:1200px;
                width:100%;
                margin: 0px auto;
                //border:1px solid;
            }
          /*  #uhead{
                height:100px;
                width:1000px;
                
            }
            #ulogo{
                height:100px;
                width:150px;
                float:left;
                background-color: #0078d7;
                
            }
            #utitle{
                height:100px;
                width:850px;
                float:left;
                background-color: tomato;
            }
            #udetails
            {
                height:50px;
                width:1000px;
                margin-top:5px; 
            }
            #ld{
                height:50px;
                width:500px;
                background-color: lightseagreen;
                float:left;
                }
            #rd{
                height:50px;
                width:500px;
                background-color: darkgrey;
                float:left;
                }
            #umenu
            {
                height:50px;
                width:1000px;
                background-color:#3D617A;
                margin-top: 5px;
            }
            #container{
                height:880px;
                width:1000px;
                margin-top: 5px;
                background-color:palegreen;
            }
            #ufooter{
                height:100px;
                width:1000px;
                margin-top: 5px;
            }
            #ulfooter{
                height:100px;
                width:500px;
                background-color: tomato;
                float:left;
            }
            #urfooter{
                height:100px;
                width:500px;
                background-color:yellowgreen; 
                float:left;
            } */
            body
{
    background-image:url('../images/userbg.jpg');
    background-attachment:fixed;
    
}

#r1
{
height: 35px;
    width: 100%;
    /* margin-left: -8px; */
    margin-top: -1px;
    border-top: 13px #202020 solid;
    float: left;
    //box-shadow:2px 2px 25px black ;
}

#trap
{
        border-top: 33px solid #202020;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    /* height: 40px; */
    width: 552px;
    margin-right: 25px;
    float: right;
  //  margin-top: 0.5px;

}
#menu {
       height: 40px;
    width: 494px;
    //border: 1px solid;
    float: right;
    margin-top: -48px;
}
#menu ul
{
list-style-type:none;
margin:0px auto;
margin-left:-95px;
 float: left;
}
#menu ul li
{
    font-size: 15px;
    display: inline-block;
    color:#ffffff;
    padding: 20px;
    margin-left: -9px;
    //font-family: Bahnschrift Light;
    font-family:bubblegum sans;

}
#uhead{
                height:100px;
                width:100%;
                
            }
   #ulogo {
    height: 150px;
    width: 20%;
    float: left;
    background-color: #d8d7d552;
    margin-top: -30px;
    box-shadow: -2px -2px 35px #571845e6;
}
 /* #utitle {
    height: 114px;
    width: 79%;
    float: right;
    background-color: #ffffff47;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: -2px -2px 35px #571845e6;
}
*/
#container2 {
    height: 880px;
    width: 100%;
    margin-top: 8px;
   // background-color: #3b808787;
    /* border-radius: 10px; */
   // box-shadow: -2px -2px 35px #571845e6;
    //border:1px solid lightgray;
     font-family: norikee demo;
                color: #e31e24;
                font-size: 25px;
               padding-top: -5px;
                text-align: center;
                text-shadow: 1px 1.5px maroon;
}
//for complain............................................................
#container3 {
    height: 880px;
    width: 100%;
    margin-top: 8px;
   // background-color: #3b808787;
    /* border-radius: 10px; */
    box-shadow: -2px -2px 35px #571845e6;
    border:1px solid lightgray;
     font-family: norikee demo;
                color: #e31e24;
                font-size: 25px;
               padding-top: -5px;
                text-align: center;
                text-shadow: 1px 1.5px maroon;
}

#r9 {
    height: 183px;
    width: 100%;
    margin: 0px auto;
    background-color: #333333;
    
}
#out3 {
    height: 153px;
    width: 100%;
    margin: 0px auto;
    background-color: #333333;
    border-bottom: none;
    box-shadow: -2px -2px 35px #571845e6;
    margin-top: 5px;
}
	.g1 {
    height: 123px;
    width: 229px;
    background-color: #333333;
    float: left;
    font-family: Bahnschrift Light;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-top: 30px;
    padding-left: 70px;
    /* margin-top: 0px; */
}

#r10
{
    height: 60px;
    width: 100%;
    margin:0px auto;
    //border: 1px solid;
    background-color: #202020;
    box-shadow: -2px -2px 35px #571845e6;
}
#nich
{
    height: 52px;
    //width: 345px;
    //border: 1px solid white;
    margin-left: 65px;
	//background-image:url('niche.png');
	 background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
        margin-top: 5px;
        border-top:none;
	}
.dp
{
     
    height: 40px;
    width:40px;
    float:left;
    //border:1px solid white;
    padding: 10px;
    
}
 #udetails
            {
                height:50px;
                width:100%;
                margin-top:17px; 
            }
            #ld{
                height:50px;
                width:525px;
               // background-color: lightseagreen;
               background-color: #c07d2c94; 
               float:left;
                margin-left: 8px;
                box-shadow: -2px -2px 35px #571845e6;
                font-family: BIGSHOT ONE;
                color: #e31e24;
                font-size: 25px;
               padding-top: -5px;
                text-align: center;
                text-shadow: 1px 1px maroon;
                
                }
            #rd{
                height:50px;
                width:525px;
               background-color: #4a362d87;
                
               float:right;
                box-shadow: -2px -2px 35px #571845e6;
                font-family: BIGSHOT ONE;
                color:  white;
                font-size: 25px;
                padding-top: -15px;
                text-align: center;
                text-shadow: 1px 1px maroon;
            }
     

   /*  .form-submit-button {

background: #B9DFFF;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;

}

.form-submit-button:hover {

background: #016ABC;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;

}  */
   #menu1
{
        height: 50px;
    width: 100%;
    /* padding: 0px; */
    /* margin-top: 23px; */
    background-color: #202020;
    color: black;
    margin: 0px auto;
    box-shadow: -2px -2px 35px #000000a8;
    margin-top: 5px;

    
}
#menu1 ul
{
list-style-type:none;
}
#menu1 ul li
{
display:inline-block;
padding:4px;
width:100px;
color:white;
font-family:arial;
text-align:center;
border-right: 1px solid grey;
}
#menu1 ul li a
{
text-decoration: none;
color:white;
font-family:arial;
}
#menu1 ul li :hover
{
color:#fdf11b;

}